<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/stories" class="brand-logo center">StoryBooks</a>
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      <!-- RIGHT NAV -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li>
          <a href="/dashboard">
            Welcome
            {{#if user.firstName}}
              {{user.firstName}}
            {{else if user.displayName}}
              {{user.displayName}}
            {{else}}
              {{user.email}}
            {{/if}}
          </a>
        </li>
        <li><a href="/auth/logout" class="tooltipped" data-position="bottom" data-tooltip="Logout" ><i class="fas fa-sign-out-alt"></i></a></li>
        {{else}}
        <li><a href="/stories" class="tooltipped" data-position="bottom" data-tooltip="Public Stories"><i class="fas fa-book"></i></a></li>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul class="side-nav" id="main-menu">
        {{#if user}}
        {{else}}
        <li>
          <a class="btn red darken-1" href="/auth/google"><i class="fab fa-google"></i> Login With Google</a>
          <a class="btn blue darken-1" href="/auth/facebook"><i class="fab fa-facebook left"></i> Login With Facebook</a>
          <a class="btn  darken-1" href="/auth/linkedin" style="background-color: #0e76a8 !important;"><i class="fab fa-linkedin left"></i> Login With Linkedin</a>
          <a class="btn  darken-1" href="/auth/twitter" style="background-color: #38A1F3 !important;"><i class="fab fa-twitter-square left"></i> Login With Twitter</a>

        </li>
        {{/if}}
        <li><a href="/stories"><i class="fas fa-book"></i> Public Stories</a></li>
        {{#if user}}
        <li class="divider"></li>
        <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="/stories/my"><i class="fas fa-user"></i> My Stories</a></li>
        <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
